body {
  font-weight: 600;
  color: #213429;
  font-family: "Cormorant", serif;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Noto Serif KR", serif;
  overflow-x: hidden;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p,
span {
  word-break: keep-all;
}
.container {
  width: 70vw;
  margin: 0 auto;
}

.headerWrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
#headerLabel {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #16501d;
  align-items: center;
  color: #fff;
  transition: all 0.4s ease;
  &.off {
    height: 0;
    .container,
    .close {
      display: none;
    }
  }
  .container a {
    text-align: center;
    display: block;
    p {
      position: relative;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      font-weight: 350;
      strong {
        font-weight: 700;
      }
      &:after {
        content: "\e5cc";
        font-family: "Material Icons";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 100;
      }
    }
  }
  .close {
    .closeBtn {
      margin-right: 20px;
    }
  }
}
#header {
  height: 110px;
  background-color: transparent;
  position: relative;
  transition: all 0.25s ease-in-out;
  &.on {
    background-color: #fff;
  }
  &.scrollDown {
    background-color: #fff;
  }
  .container {
    height: 100%;
    .loginMenu {
      padding-top: 15px;
      ul {
        display: flex;
        justify-content: flex-end;
        li {
          font-size: 12px;
          font-weight: 600;
          font-family: "Lato", sans-serif;
          &:not(:nth-last-child(1)) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#gnb {
  .menu {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    .list {
      display: flex;
      margin-right: 20px;
      li {
        padding-right: 30px;
        .depth01 {
          font-size: 21px;
          font-weight: 700;
          font-family: "Cormorant", serif;
          &.off {
            color: rgb(200, 200, 200);
          }
        }
        .depth02Wrap {
          display: none;
          position: absolute;
          top: 110px;
          left: 0;
          width: 100vw;
          height: 338px;
          background-color: #fff;
          &.on {
            display: block;
          }
          .container {
            display: flex;
            justify-content: space-between;
            .menuList {
              display: flex;
              ul {
                margin-right: 50px;
                h3 {
                  padding-bottom: 20px;
                  font-size: 19px;
                  font-weight: 600;
                }
                li {
                  padding-bottom: 15px;
                  font-weight: 400;
                  font-size: 14px;
                  color: #2b2b2b;
                  font-family: "Noto Sans KR", sans-serif;
                }
              }
            }
            .columnDepth02 {
              font-size: 18px;
              font-family: "Noto Serif KR", serif;
              font-weight: 600;
              &.fontCormorant {
                font-size: 22px;
                font-family: "Cormorant", serif;
              }
              li {
                padding-bottom: 20px;
              }
            }
            .depth02Img {
              display: flex;
              li {
                p {
                  margin-top: 15px;
                  font-weight: 500;
                  font-family: "Noto Sans KR", sans-serif;
                }
              }
            }
          }
        }
      }
    }
    .utilMenu {
      display: flex;
      li {
        &:first-child {
          margin-right: 15px;
        }
        &:nth-child(2) a {
          position: relative;
          display: block;
          &::after {
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            background-color: #213429;
            border-radius: 100%;
            position: absolute;
            top: -50%;
            right: -40%;
          }
          &:before {
            content: "0";
            color: #fff;
            font-size: 10px;
            z-index: 1;
            position: absolute;
            top: -30%;
            right: -10%;
          }
        }
      }
    }
  }
}
#mobileHeader {
  height: 60px;
  background-color: #fff;
  display: none;
  position: relative;
  justify-content: space-between;
  align-items: center;
  .hamberger {
    margin-left: 20px;
    button {
      width: 20px;
      height: 20px;
      position: relative;
      &.on {
        span {
          &:nth-child(1) {
            top: 9px;
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            top: 9px;
            transform: rotate(-45deg);
          }
        }
      }
      span {
        position: absolute;
        left: 0;
        background-color: #000;
        width: 100%;
        height: 2px;
        transition: all 0.1s ease-in-out;
        &:nth-child(1) {
          top: 3px;
        }
        &:nth-child(2) {
          top: 9px;
        }
        &:nth-child(3) {
          bottom: 3px;
        }
      }
    }
  }
  .mUtilMenu {
    margin-right: 20px;
  }
  #mGnb {
    overflow-y: auto;
    position: absolute;
    z-index: 99;
    top: 60px;
    right: 100%;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    &.open {
      right: 0;
    }
    .loginMenu {
      margin: 20px 20px;
      font-weight: 400;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      color: #111;
      display: flex;
      align-items: center;
      a {
        &:nth-child(1) {
          &::after {
            content: "";
            width: 2px;
            height: 10px;
            background-color: #ddd;
            display: inline-block;
            margin: 0 10px;
          }
        }
      }
      .coupon {
        font-weight: 500;
        font-family: "Lato", sans-serif;
        color: #213429;
        font-size: 12px;
        background-color: #e9ecef;
        padding: 3px 5px;
        margin-left: 7px;
        border-radius: 5px;
      }
    }
    .mGnbImgBox {
      margin: 0 20px;
      img {
        width: 100%;
      }
    }
    .mGnbList {
      margin: 30px 0 0 20px;
      .mDepth01 {
        span {
          display: inline-block;
          padding: 10px 0;
          cursor: pointer;
          font-weight: 700;
          font-size: 26px;
          font-family: "Cormorant", serif;
          &.off {
            color: #c8c8c8;
          }
        }
        .mDepth02 {
          height: 0;
          overflow-y: hidden;
          // transition: height 0.25s ease;
          &.on {
            height: auto;
          }
          li {
            a {
              display: block;
              padding: 5px 0;
            }
            .depthArrow {
              margin: 10px 0;
              display: flex;
              align-items: center;
              &.on {
                &:after {
                  display: block;
                }
              }
              &:after {
                content: "\e5cc";
                font-family: "Material Icons";
                font-size: 14px;
                padding-left: 5px;
                display: none;
              }
            }
            .mDepth03 li a {
              display: inline-block;
            }
          }
        }
        .mDepth03 {
          height: 0;
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          // transition: all 0.25s ease-in-out;?
          li {
            width: 50%;
            padding: 5px 0;
            a {
              font-family: "Cormorant", serif;
              font-weight: 400;
              font-size: 14px;
              color: #2b2b2b;
            }
          }
          &.on {
            height: 100%;
          }
        }
      }
    }
  }
}

#footer {
  margin-top: 150px;
  background-color: #2e2e2e;
  .container {
    padding: 50px 0 60px 0;
    display: flex;
    justify-content: space-between;
    .fLeft {
      #fLogo {
        margin-bottom: 40px;
      }
      font-size: 14px;
      font-family: "Noto Sans KR", sans-serif;
      .lawBox {
        display: flex;
        color: #fff;
        font-weight: 500;
        margin-bottom: 18px;
        li {
          margin-right: 24px;
        }
      }
      .infoBox {
        font-weight: 350;
        color: #828282;
        line-height: 1.5;
        margin-bottom: 50px;
        p span {
          display: inline-block;
          vertical-align: top;
          &:after {
            content: "";
            display: inline-block;
            height: 10px;
            width: 1px;
            background-color: #c2beb4;
            margin: 0 7px;
          }
          &:nth-last-child(1)::after {
            display: none;
          }
        }
      }
      .copyright {
        color: #606060;
        font-size: 12px;
        font-weight: 400;
        font-family: "Lato", sans-serif;
      }
    }
    .fRight {
      color: #fff;
      .customer {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 14px;
        margin: 30px 0 10px 0;
        h3 {
          font-weight: 500;
          margin-bottom: 15px;
        }
        li {
          color: #828282;
          font-weight: 400;
          line-height: 1.5;
          &.tel {
            color: #fff;
            font-size: 20px;
          }
        }
      }
      .qnaBox {
        display: flex;
        a {
          text-align: center;
          font-family: "Lato", sans-serif;
          display: inline-block;
          padding: 8px 0;
          font-weight: 400;
          border-radius: 5px;
          font-size: 12px;
          background-color: #232323;
          margin-right: 5px;
          width: 65px;
          transition: all 0.25s ease-in-out;
          &:hover {
            background-color: #000;
          }
        }
      }
    }
  }
}
#mFooter {
  margin-top: 100px;
  background-color: #2e2e2e;
  padding: 40px 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  .logo {
    margin-bottom: 25px;
  }
  .center {
    padding-bottom: 24px;
    text-align: center;
    strong {
      font-size: 13px;
      color: #fff;
      font-family: "Lato", sans-serif;
      display: inline-block;
      padding-bottom: 6px;
      span {
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 500;
      }
    }
    p {
      color: #828282;
      font-size: 12px;
      font-weight: 400;
      font-family: "Lato", sans-serif;
      line-height: 1.3;
    }
  }
  .tab {
    text-align: center;
    button {
      &.click {
        strong {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
      strong {
        font-family: "Lato", sans-serif;
        font-weight: 500;
        color: #fff;
        font-size: 12px;
        display: flex;
        align-items: center;
        &::after {
          content: "\e5cf";
          font-family: "Material Icons";
          color: #828282;
          font-size: 17px;
          margin-left: 4px;
          transition: all 0.25s ease-in-out;
        }
      }
    }
    .infoBox {
      font-family: "Noto Sans KR", sans-serif;
      height: 0;
      overflow-y: hidden;
      transition: all 0.25s ease-in-out;
      &.open {
        padding: 20px 0 14px 0;
        height: 120px;
      }
      .infoLink {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 30%;
        margin: 0 auto;
        padding-bottom: 12px;
        li {
          margin-right: 10px;
          line-height: 1.3;
          a {
            font-weight: 500;
            color: #fff;
            font-size: 12px;
          }
        }
      }
      .companyInfo {
        span {
          font-size: 11px;
          color: #828282;
          display: inline-block;
          font-weight: 350;
          &:not(&:last-child) {
            &::after {
              content: "";
              display: inline-block;
              width: 1px;
              margin: 0 5px;
              background-color: #828282;
              height: 10px;
            }
          }
        }
      }
    }
  }
  .copyright {
    padding: 10px 0 16px 0;
    text-align: center;
    p {
      line-height: 1.3;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 10px;
      color: #606060;
    }
  }
}
#scrollTop {
  position: fixed;
  right: 0;
  background-color: #213429;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  bottom: 0;
  z-index: 1;
  &.on {
    opacity: 1;
    bottom: 20px;
  }
  ul {
    width: 52px;
    li {
      height: 52px;
      width: 100%;
      cursor: pointer;
      img {
        display: block;
        margin: 0 auto;
        padding-top: 17px;
      }
      &.top {
        background-color: #e7e7e7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: 400;
        font-family: "Lato", sans-serif;
        img {
          padding-top: 0;
        }
        span {
          display: block;
          margin-top: 7px;
        }
      }
    }
  }
}
#mScrollTop {
  position: fixed;
  bottom: 20px;
  right: -60px;
  cursor: pointer;
  z-index: 999;
  transition: all 0.25s ease-in-out;
  &.on {
    right: 20px;
  }
  .scrollBox img {
    width: 44px;
    height: 44px;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  height: 20%;
  background: #555;
  border-radius: 10px;
}

// 반응형
@media all and(max-width:1750px) {
  .container {
    width: 80vw;
  }
}

@media all and(max-width:1400px) {
  .container {
    width: 90vw;
  }
}

@media all and(max-width:1250px) {
  #header {
    display: none;
  }
  #mobileHeader {
    display: flex;
  }
  #footer {
    display: none;
  }
  #mFooter {
    display: flex;
  }
  #scrollTop {
    display: none;
  }
}
