.item {
  .txtBox {
    .title {
      font-weight: 600;
      font-size: 21px;
    }
    .desc {
      margin-top: 12px;
      font-family: "Noto Sans KR", sans-serif;
      font-weight: 350;
      font-size: 14px;
      color: #868e96;
    }
  }
  .priceBox {
    margin-top: 16px;
    .percent {
      font-family: "Cormorant", serif;
      font-size: 14px;
      font-weight: 600;
      color: #16501d;
      margin-right: 5px;
      strong {
        font-family: "Lato", sans-serif;
      }
    }
    .originalPrice {
      font-family: "Lato", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #c8c8c8;
      text-decoration: line-through;
      margin-right: 5px;
    }
    .salePrice {
      font-family: "Noto Sans KR", sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: #2e2e2e;
      margin-left: 8px;
      strong {
        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 21px;
      }
    }
  }
  .purchaseBox {
    visibility: hidden;
    margin-top: 22px;
    .pc {
      justify-content: center;
      display: flex;
    }
    .m {
      display: none;
      ul {
        display: flex;
        justify-content: center;
        li {
          border: 1px solid #e9ecef;
          &:nth-child(2) {
            border-right: none;
            border-left: none;
          }
          button {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              padding: 10px;
            }
          }
        }
      }
    }
    ul {
      display: flex;
      li {
        button {
          padding: 0;
        }
      }
    }
    .card {
      width: 140px;
      height: 44px;
      margin-left: 15px;
      background-color: #16501d;
      display: flex;
      justify-content: center;
      align-items: center;
      .material-icons {
        font-size: 20px;
      }
      span {
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        display: block;
      }
    }
  }
}

#mainVisual {
  position: relative;
  &.mobile {
    padding-top: 60px;
  }
  ul li {
    a {
      .imgBox {
        position: relative;
        &:before {
          content: "";
          display: block;
          padding-top: 42%;
        }
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          &.m {
            display: none;
          }
        }
      }
      .txtBox {
        position: absolute;
        top: 35%;
        left: 10%;
        color: #000;
        &.white {
          color: #fff;
        }
        .title {
          font-weight: 400;
          font-family: "Lato", sans-serif;
          &.mobileTitle {
            display: none;
          }
        }
        .subTitle {
          font-weight: 600;
          font-family: "Cormorant", serif;
          font-size: 40px;
          margin: 50px 0 25px 0;
          &.green {
            color: #213429;
          }
          &.mobileTitle {
            display: none;
          }
        }
        .desc {
          font-weight: 400;
          font-size: 22px;
          font-family: "Noto Sans KR", sans-serif;
        }
      }
    }
  }
  .pagination {
    button {
      position: absolute;
      z-index: 2;
      top: 46%;
    }
    .prev {
      left: 1%;
    }
    .next {
      right: 1%;
    }
    .material-icons {
      font-size: 35px;
    }
  }
  .swiper-pagination-bulletBox {
    position: absolute;
    bottom: 2%;
    left: 50%;
    z-index: 1;
    .swiper-pagination-bullet-active {
      background-color: #333;
    }
  }
  .swiper-pagination-fraction {
    display: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    position: absolute;
    bottom: 2%;
    left: 49%;
    z-index: 1;
    .swiper-pagination-current {
      font-size: 16px;
      color: #16501d;
    }
  }
}

#contents {
  margin-top: 180px;
  width: 100vw;
  .tabs ul {
    display: flex;
    justify-content: center;
    li {
      font-family: "Cormorant", serif;
      font-weight: 600;
      font-size: 38px;
      cursor: pointer;
      user-select: none;
      color: #ced4da;
      &.on {
        color: #213429;
        text-decoration-line: underline;
      }
      &:not(:last-child) {
        padding-right: 24px;
      }
    }
  }
  .pannel {
    display: none;
    position: relative;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    transition: opacity 0.25s ease-in-out;
    &::before {
      display: inline-block;
      position: absolute;
      content: "";
      width: 100%;
      height: 360px;
      z-index: -1;
      left: 0;
      top: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.on {
      display: block;
    }
    .purchaseOn:hover {
      .purchaseBox {
        visibility: visible;
      }
    }
    .promotionList {
      // display: flex;
      // justify-content: center;
      .add {
        width: 360px;
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
    .timer {
      font-family: "Lato", sans-serif;
      font-weight: 600;
      font-size: 26px;
      color: #16501d;
      margin-bottom: 30px;
    }
    .pagination {
      button {
        position: absolute;
        z-index: 10;
        top: 35%;
      }
      .prev {
        left: 11%;
      }
      .next {
        right: 11%;
      }
      .material-icons {
        font-size: 35px;
      }
      &.promoPage {
        display: none;
        &.on {
          display: block;
        }
      }
    }
    .add {
      transition: opacity 0.25s ease-in-out;
      &.filter {
        opacity: 0.5;
      }
    }
  }
  #timesale {
    &::before {
      background-image: url("../images/main/timesaleBg.png");
    }
  }
  #newBest {
    &::before {
      background-image: url("../images/main/newBestBg.png");
    }
  }
  #promotion {
    &::before {
      background-image: url("../images/main/promotionBg.png");
    }
  }
}

#bestProduct {
  padding-top: 245px;
  .container {
    display: flex;
    justify-content: space-between;
    .keywordBox {
      width: 30%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px;
      display: none;

      .keywordTitleBox {
        line-height: 1.5;
        margin-bottom: 20px;
        p {
          font-family: "Noto Sans KR", sans-serif;
          font-weight: 350;
          font-size: 14px;
          color: #495057;
        }
        h1 {
          font-size: 26px;
        }
      }
      .keywordList {
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        font-size: 13px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          a {
            display: block;
            margin: 0 10px 10px 0;
            padding: 10px 12px;
            border: 1px solid #ddd;
            border-radius: 15px;
          }
        }
      }
    }
    .videoBox {
      iframe {
        position: sticky;
        top: 150px;
        &.on {
          top: 110px;
        }
      }
    }
    .bestProductList {
      .titleBox {
        padding-bottom: 42px;
        font-size: 46px;
        font-family: "Cormorant", serif;
      }
      .item .add {
        display: flex;
        border-top: 1px solid #e9ecef;
        .bestProductImgBox .imgBox img {
          width: 100%;
        }
        &:last-child {
          border-bottom: 1px solid #e9ecef;
        }
        &.purchaseOn:hover {
          .purchaseBox {
            visibility: visible;
          }
        }
        .right {
          padding: 30px 0 0 30px;
          .purchaseBox {
            div {
              justify-content: left;
              &.m ul {
                justify-content: start;
              }
            }
          }
        }
      }
    }
  }
}

#instagram {
  position: relative;
  margin-top: 65px;
  .titleBox {
    margin-bottom: 40px;
    text-align: center;
    font-size: 38px;
    font-family: "Cormorant", serif;
    h1 {
      display: inline;
    }
  }
  li {
    opacity: 1;
    transition: opacity 0.2s ease-in;
    &:hover {
      opacity: 0.6;
    }
    a img {
      width: 100%;
    }
  }
  .hashtagBox {
    position: relative;
    div {
      overflow: hidden;
      display: block;
      width: 200%;
      position: absolute;
      bottom: -50px;
      z-index: 1;
      white-space: nowrap;
      animation: txtAni 12s linear infinite;
      span {
        font-size: 100px;
        color: #dee2e6;
        font-family: "Cormorant", serif;
        letter-spacing: 2px;
      }
    }
  }
}
@keyframes txtAni {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

// 반응형
@media all and(max-width:1750px) {
  #mainVisual {
    ul li a {
      .imgBox {
        &::before {
          padding-top: 50%;
        }
      }
    }
  }
}

@media all and(max-width:1620px) {
  #instagram .instagramWrap {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 33.33%;
        text-align: center;
        @for $i from 1 to 4 {
          &:nth-child(#{$i}) {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}

@media all and(min-width:1579px) {
  #contents .pannel .promotionList {
    display: flex;
    justify-content: center;
  }
}
@media all and(max-width:1580px) {
  #contents .pannel .promotionList {
    .add:not(:last-child) {
      margin: 0;
    }
  }
}
@media all and(max-width:1520px) {
  #bestProduct .container {
    flex-direction: column;
    .keywordBox {
      display: block;
    }
    .videoBox iframe {
      width: 100%;
      height: 70vh;
      margin-bottom: 70px;
    }
    .bestProductList {
      .titleBox {
        text-align: center;
      }
    }
  }
}

@media all and(max-width:1250px) {
  #mainVisual {
    padding-top: 100px;
    ul li a {
      .imgBox {
        &::before {
          padding-top: 150%;
        }
        img {
          &.m {
            display: block;
          }
          &.pc {
            display: none;
          }
        }
      }
      .txtBox {
        top: auto;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .title {
          font-weight: 700;
          color: #16501d;
          font-size: 16px;
          &.mobileTitle {
            display: block;
          }
          &.pcTitle {
            display: none;
          }
        }
        .subTitle {
          font-size: 36px;
          color: #212529;
          font-family: "Cormorant";
          margin: 15px 0;
          &.green {
            font-family: "Noto Serif KR";
            color: #212529;
            font-size: 30px;
          }
          &.mobileTitle {
            display: block;
          }
          &.pcTitle {
            display: none;
          }
        }
        .desc {
          font-weight: 350;
          font-size: 14px;
          color: #495057;
        }
      }
    }
    .pagination {
      button {
        top: auto;
        bottom: 1.6%;
      }
      .prev {
        left: 46%;
      }
      .next {
        right: 46%;
      }
      .material-icons {
        font-size: 18px;
      }
    }
    .swiper-pagination-bullet {
      display: none;
    }
    .swiper-pagination-fraction {
      display: block;
    }
  }
  #bestProduct .container .keywordBox {
    width: 40%;
  }
}

@media all and(max-width:830px) {
  #mainVisual {
    ul li a .txtBox {
      .title {
        font-size: clamp(13px, 1.9vw, 16px);
      }
      .subTitle {
        font-size: clamp(28px, 3.8vw, 32px);
        &.green {
          font-size: clamp(26px, 3.6vw, 30px);
        }
      }
    }
    .pagination {
      .prev {
        left: 43%;
      }
      .next {
        right: 43%;
      }
      .material-icons {
        font-size: 16px;
      }
    }
  }
  #contents .tabs ul li {
    font-size: clamp(30px, 4.5vw, 38px);
  }
  #bestProduct .container {
    .keywordBox {
      width: 50%;
    }
    .videoBox iframe {
      width: 100%;
      height: 50vh;
      margin-bottom: 70px;
    }
    .bestProductList {
      .titleBox {
        text-align: center;
      }
      .item {
        .add {
          padding: 20px 0;
        }
      }
    }
  }
  #instagram .hashtagBox div {
    bottom: clamp(-40px, -45px, -50px);
    span {
      font-size: clamp(50px, 12.5vw, 100px);
    }
  }
  .item {
    .txtBox {
      .title {
        font-size: clamp(15px, 2.4vw, 20px);
      }
      .desc {
        font-size: clamp(12px, 1.6vw, 14px);
      }
    }
    .priceBox {
      .percent {
        font-size: 12px;
      }
      .originalPrice {
        font-size: clamp(12px, 1.9vw, 16px);
      }
      .salePrice strong {
        font-family: "Noto Sans KR", sans-serif;
        font-size: clamp(18px, 2.5vw, 21px);
      }
    }
    .purchaseBox {
      visibility: visible;
      .m {
        display: block;
      }
      .pc {
        display: none;
      }
    }
  }
}
@media all and(max-width:530px) {
  #mainVisual {
    ul li a {
      .txtBox {
        bottom: 13%;
        .subTitle {
          &.green {
            font-size: clamp(22px, 4.9vw, 26px);
          }
        }
        .desc {
          font-size: clamp(10px, 2.6vw, 14px);
        }
      }
    }
    .pagination .material-icons {
      font-size: 9px;
    }
    .swiper-pagination-fraction {
      left: 48%;
      font-size: 10px;
      .swiper-pagination-current {
        font-size: 14px;
      }
    }
  }
  #contents {
    .tabs ul li {
      font-size: clamp(24px, 5.6vw, 30px);
    }
    .pannel .pagination {
      button {
        top: auto;
        bottom: 17%;
        &.prev {
          left: 7%;
        }
        &.next {
          right: 7%;
        }
        .material-icons {
          font-size: 20px;
        }
      }
    }
  }
  #bestProduct .container {
    .keywordBox {
      width: 80%;
    }
    .bestProductList {
      .titleBox {
        font-size: clamp(35px, 8.6vw, 46px);
      }
      .item .add {
        .right {
          width: 60%;
          padding: 0 0 0 20px;
          .txtBox a {
            .title {
              line-height: 1.2;
            }
            .desc {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
@media all and(max-width:420px) {
  #mainVisual {
    .pagination {
      .prev {
        left: 40%;
      }
      .next {
        right: 40%;
      }
    }
    .swiper-pagination-fraction {
      left: 47.5%;
    }
  }
  #contents {
    .tabs ul li {
      font-size: clamp(20px, 5.7vw, 24px);
    }
    .pannel .item {
      .imgBox img {
        width: 50%;
      }
    }
  }
  #bestProduct .container {
    .keywordBox {
      width: 100%;
      .keywordList li a {
        margin: 0 2px 2px 0;
      }
    }
    .videoBox iframe {
      height: 30vh;
    }
    .bestProductList .titleBox {
      padding-bottom: 15px;
      font-size: 30px;
    }
  }
  #instagram {
    .titleBox {
      font-size: 30px;
      font-family: "Cormorant";
    }
    .instagramWrap ul {
      li {
        padding: 5px;
        @for $i from 1 to 4 {
          &:nth-child(#{$i}) {
            margin: 0;
          }
        }
        a {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
