#all {
  padding-top: 190px;
  .titleBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    .container {
      h1 {
        font-size: 52px;
        font-weight: 700;
        font-family: "Cormorant", serif;
      }
      .tabList {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-family: "Noto Sans KR", sans-serif;
        li {
          .subDepth01 {
            margin: 35px 10px 40px;
            color: #adb5bd;
            display: inline-block;
            &.on {
              color: #16501d;
            }
          }
          .subTab {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            &.on {
              display: flex;
            }
            li {
              margin-right: 7px;
              &:last-child {
                margin-right: 0;
              }
              .subTabItem {
                display: inline-block;
                padding: 10px 15px;
                white-space: nowrap;
                background-color: #f1f3f5;
                border-radius: 3px;
                &.on {
                  background-color: #16501d;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
#shopList .container {
  margin-bottom: 200px;
  .listTop {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 50px;
    &::before {
      content: "";
      width: 100%;
      display: block;
      height: 1px;
      background-color: #eee;
      position: absolute;
      top: -20px;
      left: 0;
    }
    .itemNum {
      p {
        font-size: 14px;
        color: #2b2b2b;
        font-weight: 400;
        font-family: "Noto Sans KR", sans-serif;
        span {
          font-weight: 600;
          color: #16501d;
          font-family: "Lato", sans-serif;
        }
      }
    }
    .pickListBox .pickList {
      position: absolute;
      top: 0;
      right: 0;
      .pickDepth01 {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 14px;
        color: #2b2b2b;
        .pick {
          display: flex;
          padding: 10px 15px;
          font-weight: 500;
          &::after {
            content: "\e5cf";
            font-family: "Material Icons";
            color: #aaa;
            display: inline-block;
            margin-left: 10px;
            transition: all 0.2s ease-in-out;
          }
        }
        .pickDepth02 {
          display: none;
          padding: 10px 0;
          background-color: #f8f9fa;
          li {
            a {
              display: block;
              font-weight: 400;
              padding: 10px 15px;
            }
          }
        }
      }
      &.on {
        .pick {
          background-color: #f8f9fa;
          &:after {
            transform: rotate(180deg);
          }
        }
        .pickDepth02 {
          display: block;
        }
      }
    }
  }
  .itemPannel {
    .itemList {
      display: flex;
      flex-wrap: wrap;
      .el {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        &.purchaseOn:hover {
          .purchaseBox {
            visibility: visible;
          }
        }
        &:hover {
          animation: filterAni 0.2s ease-in-out;
        }
        a .imgBox {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .noItem {
      display: none;
      width: 100%;
      justify-content: center;
      p {
        font-family: "Noto Serif KR", serif;
        font-size: 14px;
        font-weight: 400;
        color: #333;
      }
      &.on {
        display: flex;
      }
    }
  }
}
#pageWrap .container {
  ul {
    display: flex;
    justify-content: center;
    li {
      &:not(:nth-child(3)) {
        margin-right: 3px;
      }
      a {
        padding: 6px 12px;
        border-radius: 100%;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        color: #ababab;
        &.on {
          background-color: #16501d;
          font-weight: 700;
          color: #fff;
        }
      }
    }
  }
}
@keyframes filterAni {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.9;
  }
}

// 반응형
@media all and(max-width:1900px) {
  #shopList .container .itemPannel .item .el .right {
    .txtBox a {
      .title {
        font-size: clamp(17px, 1vw, 21px);
      }
    }
  }
}
@media all and(max-width:1520px) {
  #shopList .container .itemPannel .item .el {
    width: 50%;
    .right {
      .txtBox a {
        .title {
          font-size: 21px;
        }
      }
    }
  }
}

@media all and(max-width:1000px) {
  #shopList .container .itemPannel .item .el .right {
    .txtBox a {
      .title {
        font-size: clamp(16px, 1vw, 21px);
      }
    }
  }
}
@media all and(max-width:800px) {
  #shopList .container .itemPannel .item .el .right {
    .txtBox {
      width: 99%;
      a {
        .title {
          font-size: clamp(14px, 2vw, 16px);
        }
        .desc {
          font-size: clamp(10px, 1.5vw, 12px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
@media all and(max-width:690px) {
  #all .titleBox {
    padding-bottom: 150px;
    .container .tabList li .subTab {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      li {
        margin-bottom: 5px;
      }
    }
  }
}
@media all and(max-width:430px) {
  #all .titleBox .container {
    h1 {
      font-size: clamp(40px, 12vw, 52px);
    }
    .tabList {
      font-size: clamp(13px, 3.7vw, 16px);
    }
  }
  #shopList .container .itemPannel .itemList {
    flex-direction: column;
    .el {
      width: 100%;
      .right {
        .txtBox a {
          .title {
            font-size: clamp(16px, 5.5vw, 20px);
          }
          .desc {
            font-size: clamp(12px, 4.1vw, 15px);
          }
        }
      }
    }
  }
}
